* {
   /*border: 1px solid red;*/
}
a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: rgb(24, 22, 22);
    border-bottom: 3px solid #d6d6d6;
}

h1 {
    margin: 0 auto;
}
h3 {
    text-align: center;
    margin: 2 auto;
}
body {
    width: 80%;
    height: 80%;
    margin: 50 auto;
}
div.container {
    border: 1px solid black;
}

div.container .titulo {
    display: flex;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid gray;
}
div.titulo {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid gray;
}

header {
    padding-bottom: 45px;
}
div.box.box-01 {
    margin: 10 auto;
    text-align: center;
}

div.box.box-02 {
    margin: 10 auto;
}

iframe {
margin: 0 auto;
width: 99.6%;
height: 50%;
}


div.ass {
    
    width: 5px;
    height: 20px;
    background-color: turquoise;
}
div h6 {
    margin: 0 auto ;
    width: 200px;
    color: black;
}

.assinatura {
    margin: 5 auto;
    font-family: inherit;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 3px;
  }